## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [63]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd
df1 = pd.read_csv('datasets/lego_sets.csv')
df1.head()

df2= pd.read_csv('datasets/parent_themes.csv')
df2.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [64]:
### Test 1: What % of all licensed sets ever released were Star Wars themed?

merged_df = df1.merge(df2, left_on = 'parent_theme', right_on='name')
merged_df = merged_df.drop(columns= 'name_y')
merged_df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [65]:
merged_df[merged_df['set_num'].isnull()].shape #checking to see how many NaN values are in the column

(153, 8)

In [66]:
licensed_theme = merged_df[merged_df['is_licensed']== True]
licensed_theme = licensed_theme.dropna(subset = ['set_num']) #dropping NaN values only from 'set_num' column
star_wars_theme = licensed_theme[licensed_theme['parent_theme']== 'Star Wars']
the_force = star_wars_theme.shape[0]/licensed_theme.shape[0]*100
print(the_force)

51.653944020356235

In [67]:
### Test 2: Which year was Star wars not the most popular licensed theme?

year_sorted = licensed_theme.sort_values('year')
sum_df = year_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
max_df = sum_df.sort_values('is_licensed', ascending = False).drop_duplicates(['year'])
max_df.sort_values('year', inplace=True)
max_df

    year  parent_theme  num_parts     id  is_licensed
0   1999     Star Wars     1384.0   2054           13
2   2000     Star Wars     2580.0   4108           26
4   2001     Star Wars     2949.0   2212           14
6   2002     Star Wars     4735.0   4424           28
9   2003     Star Wars     6660.0   5056           32
12  2004     Star Wars     1659.0   3160           20
16  2005     Star Wars     4730.0   4424           28
20  2006     Star Wars     2769.0   1738           11
24  2007     Star Wars    11361.0   2528           16
28  2008     Star Wars     6865.0   3634           23
32  2009     Star Wars     3953.0   6162           39
36  2010     Star Wars     6003.0   4740           30
42  2011     Star Wars     3451.0   5056           32
47  2012     Star Wars     6769.0   6794           43
52  2013     Star Wars     6159.0   5530           35
59  2014     Star Wars     8293.0   7110           45
67  2015     Star Wars    11410.0   9164           58
76  2016     Star Wars     6934.0   9638           61
82  2017  Super Heroes    13123.0  34704           72

In [68]:
new_era = 2017